{
    "Notifications" : {
        "Email" : {
            "Host" : "127.0.0.1",
            "Port" : 25,
            "Username" : "notify@example.co.uk",
            "Password" : "",
            "To" : [
                "example@example.com"
            ]
        }
    },
    "Match" : "_SYSTEMD_UNIT=sshd.service",
    "TriggerWords" : [
        "session opened for user"
    ]
}