[Unit]
Description=Notify on Event
After=network.target

[Service]
ExecStart=/usr/bin/notify -f /etc/journalCheck/config.json
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target